html, body{
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
}	

.w50{
    width:50%;
}

/*Screensaver*/
.screensaver-active{
    width:100% !important;
    height:100% !important;
    position:absolute;
    z-index:10002;
    top:0;
    left:0;
    display:block;
    overflow:hidden;
    background-color: #000;
}

.screensaver-disabled{
    display:none;
}

.screensaver-image{
    width:100%;
    height:100%;
    z-index:10002;
}

.screensaver-images{
    position:absolute;
    width:100%;
    height:100%;
    z-index:10002;
}

.screensaver-info{
    background:rgba(0,0,0,.6);
    border-radius: 4px;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5);
    padding:15px;
    font-size:xx-large;
}
.screensaver-infos{
    position:fixed;
    z-index:10002;
    bottom:10px;
    right:10px;
    max-width:400px;
}

/*lightBox*/
form{
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    z-index:10001;
    display:none;
    top: 100px;
    left: 200px;
    background:rgba(0,0,0,.6);
    border-radius: 4px;
    color: whitesmoke;
}

form > fieldset{
    margin:20px;
    width:400px;
}

form > fieldset legend{
    color: whitesmoke;
}

/*fixes between bootstrap and dhtmlx styles*/
.dhx_cal_event, .dhx_cal_event > div,
.dhx_qi_big_icon, .icon_details,
.dhx_cal_event_clear
{
    line-height:initial!important;
}
.datetime-picker{
    color:black;
}
