<div>
    <div class="screensaver-images">
        <img src="css/img/dummyImg.JPG"  class="screensaver-image current-image" />
        <img src="#"  class="screensaver-image" style="display:none"/>
    </div>
    <section class="screensaver-infos">
        <article class="screensaver-info">
            <p>Current Time: <label ng-bind="currentTime"></label></p>
            <p>Room Status:  <label ng-bind="roomStatus"></label></p>
            <p ng-show="roomDetails">Details:  <label ng-bind="roomDetails"></label></p>
        </article>
    </section>
</div>