<button ng-click="newMeeting()">New Meeting</button>

<div id="calendar" class="dhx_cal_container" style="width: 100%; height: 800px;">
    <div class="dhx_cal_navline">
		<div class="dhx_cal_prev_button">&nbsp;</div>
		<div class="dhx_cal_next_button">&nbsp;</div>
		<div class="dhx_cal_today_button"></div>
		<div class="dhx_cal_date"></div>
		<div class="dhx_cal_tab" name="day_tab" style="right:332px;"></div>
		<div class="dhx_cal_tab" name="week_tab" style="right:268px;"></div>
		<div class="dhx_cal_tab" name="month_tab" style="right:204px;"></div>
		<div class="dhx_cal_tab" name="year_tab" style="right:140px;"></div>
		<div class="dhx_cal_tab" name="agenda_tab" style="right:76px;"></div>
	</div>
	<div class="dhx_cal_header">
	</div>
	<div class="dhx_cal_data">
	</div>
</div>

<script type="text/javascript">
    function init() {

        scheduler.config.xml_date = "%Y-%m-%d %H:%i";
        scheduler.config.date_step = "5"
        scheduler.init('calendar');
        scheduler.load('http://localhost/Croom.Backend/Reservation', 'json');

    }

    $(function () {
        init();
    });
</script>