<!DOCTYPE html>
<html ng-app="Croom" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hintee's SandBox for testing</title>
    
    <script src="Scripts/Lib/jquery-1.9.1.js"></script>
    <script src="Scripts/Lib/angular.js"></script>
    <script src="Scripts/Lib/angular-resource.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/Directives/screensaver.js"></script>
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript">
        var app = angular.module('Croom');
        app
            .provider('AuthService', ['$httpProvider', function ($httpProvider) {

                var authToken = null;

                function AuthService($resource) {
                    var baseUrl = '/Croom.Backend/Auth',
                        api = $resource(baseUrl);

                    function login(username, password, onSuccess) {
                        var result = api.save(null, { username: username, password: password }, function () {
                            if (result.IsSuccessful) {
                                authToken = result.AuthToken;
                            }
                            configureHeaders();
                            if (onSuccess) {
                                onSuccess.call(null);
                            }
                        });
                    }

                    function logout(onSuccess) {
                        api.delete(null, null, function () {
                            authToken = null;
                            configureHeaders();
                            if (onSuccess) {
                                onSuccess.call(null);
                            }
                        });
                    }

                    return {
                        Login: login,
                        Logout: logout
                    };
                }

                function configureHeaders() {
                    $httpProvider.defaults.headers.common['X-Croom-AuthToken'] = authToken;
                }

                this.ConfigureHeaders = configureHeaders;

                this.$get = ['$resource', AuthService];
            }])
            .config(['AuthServiceProvider', function (authProvider) {
                authProvider.ConfigureHeaders();
            }])
            .controller('H', ['$scope', 'ReservationService', 'UserService', 'AuthService', function ($scope, reservationApi, userApi, auth) {

            var reservation = {
                    RequestedBy: userApi.Current(),
                    Title: "",
                    StartsAt: "00:00:00",
                    EndsAt: "01:00:00"
                };

            $scope.idToEdit = null;
            $scope.Reservations = reservationApi.All();
            $scope.AddReservation = function () {
                var id = reservationApi.Add(null, reservation, function () {
                    $scope.Reservations = reservationApi.All();
                });
            }
            $scope.EditReservation = function (id) {
                $scope.idToEdit = id;
                $scope.Reservation = reservation = reservationApi.Single({ id: id });
            };
            $scope.SaveReservation = function () {
                reservationApi.Change({ id: $scope.idToEdit }, reservation, function () {
                    $scope.Reservations = reservationApi.All();
                });
                $scope.idToEdit = null;
            };
            $scope.CancelReservation = function (id) {
                reservationApi.Cancel({ id: id }, function () {
                    $scope.Reservations = reservationApi.All();
                });
            }
            $scope.Reservation = reservation;
            $scope.Username = '';
            $scope.Password = '';
            $scope.Login = function () {
                auth.Login($scope.Username, $scope.Password, function () {
                    reservation.RequestedBy = userApi.Current();
                });
            }
            $scope.Logout = function () {
                auth.Logout(function () {
                    reservation.RequestedBy = userApi.Current();
                });
            }

            }])
            .factory('ReservationService', ['$resource', function ($resource) {
                var baseUrl = '/Croom.Backend/Reservation/:id',
                    api = $resource(baseUrl, { id: '' }, { change: { method: 'PUT' } });

                return {
                    Add: api.save,
                    All: api.query,
                    Single: api.get,
                    Change: api.change,
                    Cancel: api.delete
                };
            }])
            .factory('UserService', ['$resource', function ($resource) {
                var baseUrl = '/Croom.Backend/User/:id',
                    api = $resource(baseUrl, { id: '' });

                return {
                    Current: api.get
                };
            }]);
    </script>
</head>
<body>

    <div ng-controller="H">
        
        <div ng-hide="idToEdit">
            <input placeholder="Title" ng-model="Reservation.Title" />
            <input placeholder="Starts at" ng-model="Reservation.StartsAt" />
            <input placeholder="Ends at" ng-model="Reservation.EndsAt" />
            <button ng-click="AddReservation()">Add Reservation</button>
        </div>

        <div ng-show="idToEdit">
            <input placeholder="Title" ng-model="Reservation.Title" />
            <input placeholder="Starts at" ng-model="Reservation.StartsAt" />
            <input placeholder="Ends at" ng-model="Reservation.EndsAt" />
            <button ng-click="SaveReservation()">Save</button>
        </div>

        <input placeholder="Username" ng-model="Username" />
        <input type="password" placeholder="Password" ng-model="Password" />
        <button ng-click="Login()">Login</button>
        <button ng-click="Logout()">Logout</button>

        <ul>
            <li ng-repeat="r in Reservations">
                {{r.Key}}, {{r.Value.Title}}, {{r.Value.LastsFor}}
                <button ng-click="$parent.EditReservation(r.Key)">Modify</button>
                <button ng-click="$parent.CancelReservation(r.Key)">Cancel</button>
            </li>
        </ul>

    </div>
    <i class="glyphicon glyphicon-adjust"></i>
    
    
</body>
</html>
